= form_for @task ||= current_user.tasks.build do |f|
  - if @task.errors.any?
    - @task.errors.full_messages.each do |message|
      .alert.alert-error= message
  .input-append
    = f.text_field :name
    = f.select :plan, (1..3).map{|i| ["#{i} #{'pomodoro'.pluralize(i)}", i]}, {}, :class => :span2
    = f.submit "submit", :class => :btn
%hr
%h1 ACTIVE
%table.table.table-striped
  %thead
    %tr
      %th.span1 finish
      %th delete
      %th task
      %th plan
      %th now
      %th add
      %th create_at
  %tbody
    - @tasks.active.each do |task|
      %tr
        %td.span1
          = link_to finish_task_path(task), :method => :post, :class => %w(btn btn-mini btn-success) do
            %i.icon-white.icon-ok

        %td.span1
          = link_to task_path(task), :method => :delete, :class => %w(btn btn-mini btn-danger) do
            %i.icon-white.icon-trash
        %td
          %i.icon-tag
          = task.name
        %td= "#{task.plan} #{'pomodoro'.pluralize(task.plan)}"
        %td= "#{'○' * task.pomodoros.size}"
        %td
          = link_to task_pomodoros_path(task, task.pomodoros.build),
                    :method => :post,
                    :class => %w(btn btn-mini btn-primary) do
            %i.icon-white.icon-plus-sign
        %td= task.created_at
%hr
%h1 FINISHED
- @tasks.finished.group_by(&:finished_at).each do |tasks|
  %h2= tasks.first
  %table.table.table-striped
    %thead
      %tr
        %th.span1 #
        %th delete
        %th task
        %th plan
        %th now
        %th finished at
    %tbody
      - tasks.last.each do |task|
        %tr
          %td.span1
            %span.btn.btn-mini.btn-success
              %i.icon-white.icon-check
          %td.span1
            = link_to task_path(task), :method => :delete, :class => %w(btn btn-mini btn-danger) do
              %i.icon-white.icon-trash
          %td
            %i.icon-tag
            = task.name
          %td= "#{task.plan} #{'pomodoro'.pluralize(task.plan)}"
          %td= "#{'○' * task.pomodoros.size}"
          %td= task.finished_at
